/* Add CSS styles for your web site here and use them in index.html. */
html,body {
    height: 100%;
    width: 100%;
    padding:2px;
    border: solid 0.5px;
    background-color: floralwhite;
}

.green {
    background-color: rgb(230, 224, 215);
    color: rgb(5, 5, 4);
    text-align: center;
}
.kai {
    color: rgb(215, 215, 199);
    background-color: yellow;
}

#aboutWeek {
    font-style: italic;
}
