/*** You will not need this file until Unit 3 ***/
html{
    height: 50%;
    width: 100%;
    scroll-padding-top:50px ;
}

body
{
    background-color: rgb(241, 241, 139);
    
}

button 
{
    background-color: blanchedalmond;
    border-radius: 200px;
    border: double;
    border-color: rgb(223, 168, 86);
    border-style: dashed;
    
}
.block
{
    color: rgb(24, 24, 24);
    text-align: center;
    padding: 5px;
    
}

.header-container
{
    display: flex;
    flex-direction: row;
    text-align: center;
    color: rgb(21, 22, 22);
    margin: 10px;

}
.header-container .header-item:nth-of-type(1)
{
    margin: 10px;
    float: left;
    width: 50%;
}
.header-container .header-item:nth-of-type(2)
{
    margin: 10px;
    float: right;
    width: 50%;
}

.Event 
{
    border-radius: 50px;
    border-style: dashed;
    text-align: center;
}

h3 
{
    border-radius: 100px;
    border-color: rgb(216, 19, 19);
    border-style: dotted;
    border: double;
    
}
p 
{
    text-align: center;
    
}

#myCanvas {
    margin: 10px;
    color: rgb(26, 25, 24);
    border: 1px;
    border-style: dashed;
    border-radius: 100px;
    text-decoration: dashed;
    align-items: center;
    text-align: center;
}
#about
{
    margin: 10px;
    color: rgb(23, 24, 24);
    text-align: center;
}
img 
{
    width: 400px;
    border-radius: 10px;
    padding: 10px;

}
h1
{
    text-align: center;

}

.navbar ul
{
    z-index: 1000;
    list-style-type: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    margin-bottom:50%;
}
.navbar ul li
{
    float: left;
    margin: 10px;

}

.navbar li a
{
    display: block;
    text-decoration: none;
    color: rgb(10, 10, 10);
    text-align: center;
    padding: 5px;
    background-color: burlywood;

}

.navbar li a :hover
{
    background-color: rgb(204, 102, 151);
    color: bisque;
    text-decoration: dashed;
}

.footer
{
    position: fixed;
    width: 100%;
    color: black;
    background-color: burlywood;
    text-align: center;
    bottom: 0;
    left:0;
    padding: 5px;

}
